<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/admin/common.css}">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/admin/movie.css}">
    <script defer th:src="@{/resources/scripts/admin/common.js}"></script>
</head>
<body>
<th:block layout:fragment="customContents">
    <th:block th:replace="layouts/header :: admin-submenu-fragment"></th:block>
    <div id="manageMovieContainer">
        <div id="movieListContainer">
            <h2 class="title">영화 목록 편집</h2>
            <div class="menu">
                <div class="_object-button">
                    <a th:href="@{/admin/registerMovie}">영화 등록</a></div>
                <div class="_object-button">
                    <a th:href="@{/admin/registerMovieImage}">영화 이미지 추가</a></div>
                <div class="blank"></div>
                <div class="total"><span th:text="'총 등록된 갯수 : ' + ${total}">총 개수</span></div>
            </div>
            <div class="_object-table-container visible" id="movieList">
                <table>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th class="title">제목</th>
                        <th>등급</th>
                        <th>개봉일</th>
                        <th>러닝타임</th>
                        <th>상태</th>
                        <th>수정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="movie : ${movies}">
                        <td class="content" th:text="${movie.getIndex()}"></td>
                        <th class="content title" href="#" rel="notice"
                            th:data-index="${movie.getIndex()}"
                            th:text="${movie.getTitleKo()}">
                        </th>
                        <td class="content" th:text="${movie.getRating()}"></td>
                        <td class="content" th:text="${movie.getReleaseDate()}"></td>
                        <td class="content" th:text="${movie.getRunningTime()}"></td>
                        <td class="content" th:text="${movie.getStatus()}"></td>
                        <td>
                            <a class="_object-button button modify"
                               th:href="'/admin/modifyMovie?index=' + ${movie.getIndex()}"
                               rel="modify" th:data-index="${movie.getIndex()}">수정</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>