<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/admin/common.css}">
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/resources/scripts/admin/registerNews.js}"></script>
</head>
<body>
<th:block layout:fragment="customContents">
    <th:block th:replace="layouts/header :: admin-submenu-fragment"></th:block>
    <div id="registerMovieImageContainer">
        <form class="_object-form"
              id="registerNewsForm" method="post" enctype="multipart/form-data">
            <h2 class="title">영화소식 등록</h2>
            <span class="subtitle">제목</span>
            <label class="label">
                <input autofocus class="_object-input input" maxlength="100" name="title" placeholder="제목" required
                       type="text">
            </label>
            <span class="subtitle">내용</span>
            <label class="label">
                <textarea class="textarea" name="content"></textarea>
            </label>
            <span class="subtitle">이미지</span>
            <label class="label">
                <input class="_object-input input file" id="inputFile" name="file" onchange="fileCheck(this)"
                       accept="image/gif, image/jpeg,image/png" type="file" required>
            </label>
            <span class="subtitle">첨부 이미지 분류</span>
            <select class="select" name="category">
                <option disabled selected>선택</option>
                <option value="NEWS">뉴스</option>
                <option value="EVENT">이벤트</option>
            </select>
            <span class="subtitle">시작일</span>
            <label class="label">
                <input class="_object-input input date" name="dateStart" type="date" required>
            </label>
            <span class="subtitle">종료일</span>
            <label class="label">
                <input class="_object-input input date" name="dateEnd" type="date" required>
            </label>
            <div class="button-container">
                <input class="_object-button" type="reset" value="초기화">
                <input class="_object-button _color-concept" type="submit" value="등록">
            </div>
        </form>
    </div>
</th:block>
</body>
</html>