<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moviesq</title>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/terms.css}">
</head>
<body>
<th:block layout:fragment="customContents">
    <div class="inner">
        <div class="about">
            <div class="title">
                <h2><a href="#"><img src="" class="btn-back" alt=""></a><strong>이용약관</strong></h2>
            </div>
            <div class="terms">
                <div class="t1">개인정보처리방침</div>
                <div class="t4">㈜moviesq(이하 ‘회사’ 로 표기)는 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할
                    수 있도록 다음과 같은 처리방침을 두고 있습니다. 회사는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                </div>
                
                <div class="t3">1. 개인정보의처리목적및수집</div>
                
                회사는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.<br><br>
                1) 필수 수집<br>
                <table class="table2">
                    <tbody>
                    <tr>
                        <td width="328">
                            수집항목
                        </td>
                        <td width="328"><p align="center">이용목적 </p></td>
                    </tr>
                    <tr>
                        <td width="328"><p align="left">성명, 휴대폰번호, 개인식별값(IpinCI),<br>
                            아이디, 비밀번호, 이메일주소 </p></td>
                        <td width="328"><p align="left">회원 서비스 이용에 따른 본인 식별 및 실명 여부, 중복 가입 여부 확인 멤버십 필수 서비스, 결제 및 예매 확인
                            공지사항 전달/불만 처리 등을 위한 원활한 의사소통 경로의 확보 고객센터 운영 불량회원 부정이용 방지 및 비인가 사용방지 </p></td>
                    </tr>
                    </tbody>
                </table>
                
                2) 모바일 서비스 이용시 필수 수집<br>
                
                <table class="table2">
                    <tbody>
                    <tr>
                        <td width="328">
                            수집항목
                        </td>
                        <td width="328"><p align="center">이용목적 </p></td>
                    </tr>
                    <tr>
                        <td width="328"><p align="left">모바일 단말기기 정보<br>
                            (모델명, OS 종류, OS버전, 단말식별번호)</p></td>
                        <td width="328"><p align="left">공지사항 전달/불만 처리 등을 위한 원활한 의사소통 경로의 확보 개인정보 침해 사고에 대한 대비, 분쟁 조정을 위한
                            기록보존 고객센터 운영 불량회원 부정이용 방지 및 비인가 사용방지 </p></td>
                    </tr>
                    </tbody>
                </table>
                
                3) 선택 수집<br>
                <table class="table2">
                    <tbody>
                    <tr>
                        <td width="328">
                            수집항목
                        </td>
                        <td width="328"><p align="center">이용목적 </p></td>
                    </tr>
                    <tr>
                        <td width="328"><p align="left">휴대폰번호, 이메일주소,<br>
                            주소(직장 또는 자택),<br>
                            간편로그인 계정 연동 정보,<br>
                            즐겨찾는 영화관,<br>
                            선호장르, 선호시간대, 프로필사진,<br>
                            알림/SMS/이메일/위치정보 수신여부 </p></td>
                        <td width="328"><p align="left">신규 서비스(제품) 개발 및 맞춤 서비스 제공, 이벤트 및 광고성 정보 제공 및 참여기회 제공 인구통계학적 특성에
                            따른 서비스 제공 및 광고 게재 서비스의 유효성 확인 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 </p></td>
                    </tr>
                    <tr>
                        <td width="328"><p align="left">위치정보 수신여부 </p></td>
                        <td width="328"><p align="left">위치정보를 활용한 서비스 </p></td>
                    </tr>
                    </tbody>
                </table>
                
                
                4) 서비스 이용 또는 사업처리 과정에서 생성/수집되는 정보<br>
                
                <table class="table2">
                    <tbody>
                    <tr>
                        <td width="328">
                            수집항목
                        </td>
                        <td width="328"><p align="center">이용목적 </p></td>
                    </tr>
                    <tr>
                        <td width="328"><p align="left">서비스 이용기록, 접속로그,<br>
                            접속IP정보, 결제기록(신용카드 정보 등)</p></td>
                        <td width="328"><p align="left">개인정보 침해 사고에 대한 대비, 분쟁 조정을 위한 기록 보존, 상품구매 </p></td>
                    </tr>
                    <tr>
                        <td width="328"><p align="left">쿠키 </p></td>
                        <td width="328"><p align="left">본 처리 방침 확인 </p></td>
                    </tr>
                    </tbody>
                </table>
                
                
                <div class="t3">2. 개인정보의 이용 및 보유 기간</div>
                1) 회사는 개인정보의 수집 및 제공받은 목적이 달성되면 지체없이 개인정보를 파기함을 원칙으로 합니다. 다만, 다음 각 호의 경우 일정기간 동안 예외적으로 수집한 회원정보의 전부 또는
                일부를 보관할 수 있습니다.<br>
                2) 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.<br>
                (1) 무분별한 회원탈퇴와 재가입으로 인한 피해 최소화, 회원탈퇴 후 변심에 의한 복구 요청 등을 처리하기 위하여 회원탈퇴 후 30일간 회원정보 보유 후 지체 없이 파기<br>
                (2) 보유 기간을 미리 고지하고 별도의 동의를 받은 경우 해당 보유기간까지 보유<br>
                (3) 장기 미 이용 회원 개인정보 별도 분리 보관<br>
                관련 법령 : 정보통신망 이용촉진 및 정보보호 등에 관한 법률 제29조(2020.8.5 이전),<br>
                개인정보법 제39조의 6 (2020. 8. 5 이후)<br>
                휴면 고객 : 서비스를 1년 이상 이용하지 않은 고객<br>
                - 홈페이지 및 모바일웹, 앱 로그인 이력이 1년 이상 없는 고객<br>
                - 분리 보관 30일 전까지 해당 사실, 분리 보관 예정일자, 분리 보관되는 개인정보항목 등에 대하여, 전자우편, 서면, 모사전송 또는 이와 유사한 방법으로 별도 통지 예정, 분리 보관
                고객이 웹/모바일 로그인을 하거나 서비스의 이용시 재 이용 신청으로 간주하며, 해당 계정은 자동 복원 됩니다.<br>
                (4) 상법’ 및 ‘전자상거래 등에서의 소비자보호에 관한 법률 ’등 관련 법령에 따라 일정기간 보유할 필요가 있는 경우 관련 법령이 정한 기간에 따라 보유<br>
                - 계약 또는 청약철회 등에 관한 기록: 5년<br>
                - 대금결제 및 재화 등의 공급에 관한 기록: 5년<br>
                - 소비자의 불만 또는 분쟁 처리에 관한 기록: 3년<br>
                - 게시판 이용자의 본인확인에 관한 기록: 6개월<br><br><br>
                
                
                <div class="t3">3. 개인정보의 제3자 제공</div>
                1) 회사는 회원의 동의, 법령에 규정된 경우를 제외하고, 어떠한 경우에도 본 개인정보처리방침에서 고지한 범위를 넘어 회원의 개인정보를 이용하지 않습니다.<br>
                2) 회사는 다음과 같이 개인정보를 제3자에게 제공하고 있습니다.
                <br><br>
                
                <table class="table3">
                    <tbody>
                    <tr>
                        <td width="197">
                            제공받는자
                        </td>
                        <td width="459"><p align="center"><a href="#" data-toggle="modal" data-target="#modalMv"
                                                             style="color: #ED7D31;font-weight:600;">영화관리스트 보기</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="197"><p align="center">이용목적 </p></td>
                        <td width="459"><p align="center">티켓 현장 발권,<br>
                            예매 확인 및 취소 등 고객안내 필요 </p></td>
                    </tr>
                    <tr>
                        <td width="197"><p align="center">제공항목 </p></td>
                        <td width="459"><p align="center">성명, 아이디, 전화번호, 휴대폰번호, 이메일 주소, 생년월일 </p></td>
                    </tr>
                    <tr>
                        <td width="197"><p align="center">보유 및 이용기간 </p></td>
                        <td width="459"><p align="center">개인정보 이용목적 달성 시까지<br>
                            (단, 관계 법령의 규정에 의해 보존의 필요가 있는 경우 및 사전 동의를 득한 경우 해당 보유기간까지)</p></td>
                    </tr>
                    </tbody>
                </table>
                
                
                <div class="t3">4. 개인정보처리 위탁</div>
                1) 회사는 개인정보의 처리와 관련하여 아래와 같이 업무를 위탁하고 있으며, 해당개인 정보가 위법하게 이용되지 않도록 하고 있습니다.<br>
                2) 회사는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.
                
                
                <table class="table2">
                    <tbody>
                    <tr>
                        <td width="219">
                            위탁받는자
                        </td>
                        <td width="219"><p align="center">위탁내용 </p></td>
                        <td width="219"><p align="center">위탁항목 </p></td>
                    </tr>
                    <tr>
                        <td width="219"><p align="center">KCP</p></td>
                        <td width="219"><p align="center">본인인증 </p></td>
                        <td width="219"><p align="center">본인인증여부만 확인 </p></td>
                    </tr>
                    <tr>
                        <td width="219"><p align="center">KS-NET, KCP,<br>
                            프레피스코리아 </p></td>
                        <td width="219"><p align="center">결제대행, 정산대행 </p></td>
                        <td width="219"><p align="center">카드정보, 결제정보 </p></td>
                    </tr>
                    <tr>
                        <td width="219"><p align="center">프레피스코리아 </p></td>
                        <td width="219"><p align="center">문자발송, 카카오 알림톡 </p></td>
                        <td width="219"><p align="center">휴대폰번호 </p></td>
                    </tr>
                    <tr>
                        <td width="219"><p align="center">㈜코리아서버 호스팅 </p></td>
                        <td width="219"><p align="center">개인정보의 보관,관리 </p></td>
                        <td width="219"><p align="center">휴대폰번호, 생년월일, 이름, CI값 </p></td>
                    </tr>
                    </tbody>
                </table>
                3) 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.<br><br><br>
                
                <div class="t3">5. 개인정보의 열람 정정 및 동의철회(회원탈퇴)</div>
                
                1) 이용자는 언제든지 등록되어 있는 개인정보를 열람하거나 정정하실 수 있습니다. 개인정보에 대한 열람 또는 정정을 하고자 할 경우에는 [회원정보수정] 또는 [선택정보수정]을 클릭하여
                본인 비밀번호 확인 절차를 거치신 후 직접 열람 또는 정정하거나, contact@dtryx.com 으로 연락하시면 지체 없이 조치하겠습니다. 개인정보의 이용내역, 취급위탁 및 제3자 제공
                내역 등에 대해서는 contact@dtryx.com 으로 요청 시 열람 또는 정정 가능합니다. 개인정보의 이용 중지를 원하실 경우 회원탈퇴/약관철회를 하시거나
                contact@dtryx.com 으로 요청하실 수 있습니다.<br>
                2) 이용자는 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는
                정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 조치하겠습니다.<br>
                3) 단, 다음의 경우에는 개인정보의 열람 및 정정을 제한할 수 있습니다.<br>
                - 본인 또는 제3자의 생명, 신체, 재산 또는 권익을 현저하게 해할 우려가 있는 경우<br>
                - 당해 서비스제공자의 업무에 현저한 지장을 미칠 우려가 있는 경우<br>
                - 법령에 위반하는 경우 등.<br>
                4) 이용자는 회원가입 시 개인정보의 수집•이용 및 제공에 대해 동의하신 내용을 언제든지 철회하실 수 있습니다. 동의철회(회원탈퇴)는 ‘마이 페이지 &gt; 회원정보 수정 &gt; 본인
                비밀번호 확인절차를 거치신 후 직접 동의철회(회원탈퇴)를 하시거나, contact@dtryx.com 으로 연락하시면 지체 없이 탈퇴 처리를 도와드리도록 하겠습니다.
                <br><br><br>
                
                <div class="t3">6. 개인정보의 파기</div>
                회사는 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 방법은 다음과 같습니다.<br>
                <table class="table3">
                    <tbody>
                    <tr>
                        <td width="197">
                            전자파일
                        </td>
                        <td width="459"><p align="center">기록이 복구 및 재생되지 않도록 안전하게 삭제 </p></td>
                    </tr>
                    <tr>
                        <td width="197"><p align="center">종이에 출력된 개인정보 </p></td>
                        <td width="459"><p align="center">분쇄나 소각을 통한 파기 </p></td>
                    </tr>
                    </tbody>
                </table>
                
                
                <div class="t3">7. 쿠키에 의한 개인정보 수집</div>
                1) 회사는 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다.<br>
                2) 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.<br>
                (1) 쿠키의 사용 목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해
                사용됩니다.<br>
                (2) 쿠키의 설치•운영 및 거부 : 웹브라우저 상단의 도구&gt;인터넷 옵션&gt;개인정보 메뉴의 옵션설정을 통해 쿠키 저장을 거부 할 수 있습니다.<br>
                (3) 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.
                <br><br><br>
                
                
                <div class="t3">8. 개인정보 보호책임자</div>
                1) 회사는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 이용자의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.<br>
                ▶ 개인정보 보호 책임자, IT 운영팀 김남영, 031-8017-8332, contact@dtryx.com<br>
                ▶ 개인정보 보호 담당부서, IT 운영팀 개인정보보호파트, 031-8017-8332, contact@dtryx.com<br>
                2) 이용자께서는 회사의 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 회사는
                이용자의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.<br>
                3) 개인정보가 침해되어 이에 대한 신고나 상담이 필요한 경우에는 아래 기관에 문의하셔서 도움을 받으실 수 있습니다.<br>
                ▶ 개인정보침해 신고센터, (국번없이) 118, https://privacy.kisa.or.kr<br>
                ▶ 대검찰청 사이버수사과, (국번없이) 1301, cid@spo.go.kr<br>
                ▶ 경찰청 사이버 안전국, (국번없이) 182, https://cyberbureau.police.go.kr
                <br><br><br>
                
                
                <div class="t3">9. 개인정보의 안전성 확보 조치</div>
                회사는 이용자의 개인정보가 분실, 도난, 변조, 유출 또는 훼손되지 않도록 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.<br>
                1) 침입 차단 시스템을 설치, 운영하여 해킹 등 외부자의 비인가 접근을 통제하고 있으며, 최소한의 인원으로 업무 역할에 따라 필요한 최소한의 접근 권한을 부여하고 있습니다.<br>
                2) 개인정보를 취급하는 PC 및 서버 등에 백신프로그램을 설치하여, 항상 최신의 상태로 업데이트를 하고 있으며, 고객정보를 안전하게 저장, 전송하기 위하여 암호화를 적용하고
                있습니다.<br>
                3) 개인정보 취급 입력에 대해 보안 교육을 시행하고 관련 인력 및 시스템에 대한 점검을 시행하는 등 안전한 취급을 위해 최선을 다하고 있습니다.
                <br><br><br>
                
                
                <div class="t3">10. 개인정보 처리방침 변경</div>
                1) 이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할
                것입니다.<br>
                2) 이용자 여러분의 정보를 소중히 생각하며, 이용자가 더욱 안심하고 서비스를 이용할 수 있도록 최선의 노력을 다할 것을 약속 드립니다.
                <br><br><br><br>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
