@charset "UTF-8";

#movieDetailContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#poster {
    width: 13.875rem;
    cursor: pointer;
    flex: 1 1 25%;
}

#detailContainer {
    margin: 0 0 0 3rem;
    padding-right: 2rem;
    width: 100%;

    flex: 1 1 75%;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#informationContainer {
    width: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#informationContainer > .information {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    flex: 1 1 70%;
}

#informationContainer > .ticket {
    padding: 0.6rem 0.8rem;
    margin: 2.4rem 0;
    /*min-width: 10rem;*/
    right: 0;

    border: none;
    border-radius: 0.25rem;
    background-color: var(--concept-color-mint);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;

    flex: 0 0 30%;
}

#informationContainer > .ticket > a {
    color: white;
}

#informationContainer > .information > .titleContainer > .ratingContainer > .rating {
    width: 1.5rem;
    height: 1.5rem;
}

#informationContainer > .information > .titleContainer > .ratingContainer > .rating.all {
    background-image: url("../images/ratingAll.png");
    object-fit: contain;
}

#informationContainer > .information > .titleContainer > .ratingContainer > .rating.twelve {
    background-image: url("../images/rating12.png");
    object-fit: contain;
}

#informationContainer > .information > .titleContainer > .ratingContainer > .rating.fifteen {
    background-image: url("../images/rating15.png");
    object-fit: contain;
}

#informationContainer > .information > .titleContainer > .ratingContainer > .rating.eighteen {
    background-image: url("../images/rating18.png");
    object-fit: contain;
}

#informationContainer > .information > .titleContainer > .titleKo {
    margin: 1rem 0.5rem 0 0;

    font-size: 2rem;
    font-weight: 600;
}

#informationContainer > .information > .titleEn {
    margin-top: 0.25rem;

    color: var(--color-header-loginmenu-font);
    font-size: 0.875rem;
}

#informationContainer > .information > .info {
    margin-top: 0.25em;

    color: var(--color-header-loginmenu-font);
    font-size: 0.875rem;
}

#informationContainer > .information > .percentageButton {
    margin-top: 2rem;
    padding: 0.6rem 0.8rem 0.7rem 0.9rem;

    border: 0.0625rem solid #888888;
    border-radius: 1.75rem;
    cursor: pointer;
}

#informationContainer > .information > .percentageButton:hover {
    background-color: #e0e0e0;
}

#informationContainer > .information > .percentageButton .title {
    color: dimgray;
    font-size: 0.875rem;
    font-weight: 550;
}

#informationContainer > .information > .percentageButton .content {
    color: var(--concept-color-mint);
    font-size: 0.875rem;
    font-weight: 600;
}

#synopsisContainer {
    margin-top: 2rem;
    width: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#synopsisContainer > .synopsis {
    padding: 0 0.5rem 0 0;

    flex: 1 1 60%;
}

#synopsisContainer > .director {
    max-width: 17rem;
    min-width: 10rem;

    flex: 0 0 40%;
}

#synopsisContainer > .synopsis > .title,
#synopsisContainer > .director > .title,
#pictureContainer > .title,
#trailerContainer > .title {
    font-size: 1.25rem;
    font-weight: 600;
}

#synopsisContainer > .synopsis > .content {
    margin-top: 0.5rem;

    color: gray;
    font-size: 0.938rem;
}

#synopsisContainer > .director > .title {
    margin-bottom: 0.5rem;
}

#synopsisContainer > .director > .director,
#synopsisContainer > .director > .cast,
#synopsisContainer > .director > .agency {
    font-size: 0.875rem;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#synopsisContainer > .director > .director > .title,
#synopsisContainer > .director > .cast > .title,
#synopsisContainer > .director > .agency > .title {
    white-space: nowrap;
}

#synopsisContainer > .director > .director > .content,
#synopsisContainer > .director > .cast > .content,
#synopsisContainer > .director > .agency > .content {
    margin-left: 0.5rem;

    color: gray;
}

#pictureContainer {
    margin-top: 2rem;
}

#pictureContainer > .title {
}

#pictureContainer > .content > .image {
    margin-top: 0.5rem;
    max-width: 10rem;

    cursor: pointer;
}

#trailerContainer {
    margin-top: 2rem;
}

#trailerContainer > .title {
}

#trailerContainer > .content {
    margin-top: 0.5rem;
    max-width: 15rem;
}

/* region viewerCover & viewer */
#viewerCover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000000a0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: ease;
    z-index: 1;
}

#viewerCover.visible {
    opacity: 1;
    pointer-events: all;
}

#viewer {
    left: 50%;
    top: 50%;
    max-width: 50rem;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);

    cursor: pointer;
    opacity: 1;
    pointer-events: all;
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: ease;
    z-index: 9;
}

/* endregion */

@media screen and (max-width: 64rem) {
    #movieDetailContainer {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #poster {
        width: 100%;
        max-width: 13.875rem;
        padding: 0.5rem;
        margin-bottom: 1rem;

        /*
        border-radius: 0.35rem;
        box-shadow: 0 0 0.5rem #00000066;
        overflow: hidden;
        position: relative;
        */
    }

    #detailContainer {
        width: 100%;
        margin: 0 0.25rem;
        padding: 0;
    }

    #informationContainer {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #informationContainer > .information > .titleContainer {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    #informationContainer > .information > .titleContainer > .titleKo {
        margin: 0 0 0 0.25rem;
    }

    #informationContainer > .ticket {
        width: 100%;
        padding: 0.6rem 0.8rem 0.7rem 0.8rem;
        margin: 1rem 0 0 0;
    }

    #synopsisContainer {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #synopsisContainer > .director {
        margin-top: 1rem;
    }

    #trailerContainer > .content > .frame {
        width: 100%;
    }
}